body{
    background-color: black;
    color:yellow;
}

h1{
    font: size 36ex;
    color:white;
    text-align: center;
}

h2{
    color:navy;
    text-decoration:underline;
    font-style:italic;
    font-weight:bold;
}

#specialparagraph{
    color: pink;
}

.pretty{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ugly{
    font-family: 'Georgia', serif;
}

.header{
 z-index: 10;
}

.common{
    background-color: black;
    border: 4px solid white;
    position: absolute;
}

.left{
    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40px;
}

.main{
    top:115px;
    left:130px;
    right:140px;
    bottom:40px;
}

.right{
    top:115px;
    Right: 25px;
    width:100px;
    height: 125px;
}

.footer{
    bottom: 10px;
    height: 70px;
    left: 300px;
    right: 300px;
    position: fixed;
    background-color: black;
    border:4px solid white;
}

.redtext{
    color:red;
}